body
{
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
}
h1
{

    color: #17a2b8;
}
input
{
    background-color: #24353f !important;
    color: white !important;
}
.box
{
    box-shadow:  -5px 2px 54px -9px rgb(0 0 0);

}
.box-home
{
    width: 75%;
    height: 20%;
    box-shadow:  -5px 2px 54px -9px rgb(0 0 0);}
p
{
    color: red;
    font-size: larger;
}
a
{
    cursor: pointer;
}
